{% extends 'base.html' %}

{% block title %}Admin Panel - 管理{% endblock %}

{% block page %}Admin Panel - 管理{% endblock %}

{% block position %}
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active">Admin Panel</li>
{% endblock %}

{% block sidebar %}
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Admin Panel
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>概览</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/users" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>用户群体</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="/admin/integral" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>积分管理</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
{% endblock %}

{% block main %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ banned + normal }}<sup style="font-size: 20px">+</sup></h3>
                <p>用户数量统计</p>
              </div>

              <a href="/admin/users" class="small-box-footer">
                用户管理 <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
            <!-- small card -->
                <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ allFiles }}</h3>
                <p>资源总数</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <a href="/all" class="small-box-footer">
                浏览所有文件 <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- /.col -->

            <!-- /.info-box -->
          </div>
        <div class="col-lg-3 col-6">
            <!-- DONUT CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">用户群体分布</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
            <div class="col-lg-3 col-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">手动刷新数据库</h3>
              </div>
                    <input type="button" class="btn btn-block btn-outline-danger" id="da" value="手动刷新" onclick="location.href='/admin/manualrefresh'"/>
            </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
<!-- ChartJS -->
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script>
$(function () {
    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: [
          '被ban的用户',
          '正常的用户',
      ],
      datasets: [
        {
          data: [{{banned}}, {{ normal }}],
          backgroundColor : ['#f56954', '#00c0ef'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
        //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })
      })
</script>
{% endblock %}