{% extends 'base.html' %}

{% block title %}All Files{% endblock %}

{% block position %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">View All</li>
{% endblock %}

{% block page %}View All{% endblock %}

{% block sidebar %}
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Starter Pages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/home" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/s" class="nav-link">
                  <i class="nav-icon fas fa-search"></i>
                  <p>Search</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="/all" class="nav-link active">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>View All</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
{% endblock %}
{% block main %}
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
        <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>文件名/目录名</th>
                    <th>类型</th>
                    <th>路径</th>
                    <th>下载量</th>
                    <th>大小</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in content %}
                  <tr>
                  {% if i[3]==0 %}
                  <td><a href="{{ "/d?f="+i[4]+"&n="+i[9] }}">{{ i[0] }}</a></td>
                  {% else %}
                  <td><a href="{{ "/all?r="+i[4]+"/"+i[0] }}">{{ i[0] }}</a></td>
                  {% endif %}
                      {% if i[3]==0 %}
                      <td>文件</td>
                      {% else %}
                      <td>文件夹</td>
                      {% endif %}
                    <td>{{ i[4] }}</td>
                    {% if i[3]==0 %}
                    <td>{{ i[8] }}</td>
                    {% else %}
                    <td> </td>
                    {% endif %}
                    <td>{{ i[5] }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>文件名/目录名</th>
                    <th>类型</th>
                    <th>路径</th>
                    <th>大小</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
          <!-- /.col-md-6 -->

          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock %}
  <!-- Control Sidebar -->
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}