{% extends 'base.html' %}

{% block title %}File Detail{% endblock %}

{% block position %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">File Detail</li>
{% endblock %}

{% block page %}File Detail{% endblock %}

{% block sidebar %}
 <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Starter Pages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/home" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/s" class="nav-link">
                  <i class="nav-icon fas fa-search"></i>
                  <p>Search</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="/all" class="nav-link active">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>View All</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
{% endblock %}

{% block main %}
    <!-- Main content -->
        <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-10">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">文件: {{ makehtml[0][0] }}</h5>

                <p class="card-text">
                    文件大小: {{ makehtml[0][5] }}
                </p>
                  <p class="card-text">
                    目录: {{ makehtml[0][4] }}
                      </p>
                  <p class="card-text">
                    下载链接:
                  </p>
                    <a herf="{{ dlub + makehtml[0][2] }}">{{ dlub + makehtml[0][2] }}</a>

                <p class="card-text">
                    <font color='#ff1493'>下载本资源需要: {{ makehtml[0][7] }} 积分，您现在有: {{ user_integral[0] }} 积分</font>
                </p>
                  <div class="col-4">
                        <button onclick="go()" id='download' name='download' type="submit" class="btn btn-primary btn-block">下载</button>
                  </div>
                  {% if makehtml[0][7] > user_integral[0] %}
                  <br><font color='red'>× 您的积分不足！</font>
                  <script>
                      document.getElementById("download").disabled = true;
                  </script>
                  {% endif %}
              </div>
            </div>

    <!-- /.content -->
  </div>
            </div>
          </div>
        </div>
    <!-- /.content -->
{% endblock %}
{% block js %}
<script>
function go() {
    window.location.href="/dl?route={{ makehtml[0][4] }}&name={{ makehtml[0][9] }}";
}
</script>
{% endblock %}