{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block position %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Starter Page</li>
{% endblock %}

{% block page %}Starter Page{% endblock %}

{% block sidebar %}
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Starter Pages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/home" class="nav-link active">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/s" class="nav-link">
                  <i class="nav-icon fas fa-search"></i>
                  <p>Search</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="/all" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>View All</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
{% endblock %}

{% block main %}
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">欢迎！这里是KWSGalcloud</h5>

                <p class="card-text">
                  KWSGalcloud是 灵感满溢的高性能战斗萝卜子 群自建的文件共享平台。 这里一般都是群里日常活动所需的文件。
                </p>

              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">关于这个小站</h5>

                <p class="card-text">
                  这个小站目前由hedgehog_qd运营。后端基于Python，前端基于AdminLTE框架修改。
                </p>
                <a href="https://hm.hedgehog-qd.xyz" class="card-link">HedgeMount</a>
                <a href="https://github.com/hedgehog-qd/KWSGalcloud" class="card-link">OpenSource</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">搜索资源！</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">搜索站内资源文件</h6>

                <p class="card-text">从几大类文件里搜索一下~ 看看有没有你需要的^_^</p>
                <a href="/s" class="btn btn-primary">去搜索页面！</a>
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">浏览全部文件</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">浏览这里所有的文件</h6>

                <p class="card-text">点击按钮，浏览小站全部的文件 >_<</p>
                <a href="/all" class="btn btn-primary">浏览全部文件</a>

              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
