{% extends 'base.html' %}

{% block title %}Home{% endblock %}

    {% block css %}
        <style type="text/css">
    #box{
        width: 700px;
        margin: 30px auto;
        font-family: 'Microsoft YaHei';
        font-size: 25px;
    }
    input{
        width: 600px;
        border: 1px solid #e2e2e2;
        height: 70px;
        float: left;
        background-image: url(images/search.jpg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position:5px center;
        padding:0 0 0 40px;
    }
    #search{
        width: 100px;
        height: 70px;
        float: right;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 32px;
        cursor: pointer;
    }
</style>
    {% endblock %}

{% block position %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Starter Page</li>
{% endblock %}

{% block page %}Starter Page{% endblock %}

{% block sidebar %}
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Starter Pages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/home" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/s" class="nav-link active">
                  <i class="nav-icon fas fa-search"></i>
                  <p>Search</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="/all" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>View All</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
{% endblock %}
{% block main %}
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          <!-- /.col-md-6 -->
            <div id="box">
                <input type="text" name="search" placeholder={{ searchback }} id="text">
                <div class="pp" id="search">搜索!</div>
            </div>


          <!-- /.col-md-6 -->
        </div>

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">搜索结果</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>文件名/目录名</th>
                    <th>类型</th>
                    <th>路径</th>
                    <th>下载量</th>
                    <th>大小</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in makehtml %}
                  <tr>
                  {% if i[3]==0 %}
                  <td><a href="{{ "/d?f="+i[4]+"&n="+i[0] }}">{{ i[0] }}</a></td>
                  {% else %}
                  <td><a href="{{ "/all?r="+i[4]+"/"+i[0] }}">{{ i[0] }}</a></td>
                  {% endif %}

                      {% if i[3]==0 %}
                      <td>文件</td>
                      {% else %}
                      <td>文件夹</td>
                      {% endif %}
                    <td>{{ i[4] }}</td>
                    {% if i[3]==0 %}
                    <td>{{ i[8] }}</td>
                    {% else %}
                    <td> </td>
                    {% endif %}
                    <td>{{ i[5] }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>文件名/目录名</th>
                    <th>类型</th>
                    <th>路径</th>
                    <th>大小</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
  {% endblock %}


{% block js %}
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
    <script>
                const btn = document.querySelector('.pp');
                const texts = document.querySelector('#text');
                btn.onclick = function() {
                    const text = texts.value;
                    let str = '';
                    if(text == ''){
                        alert('不能搜索空的内容喵~');
                    }
                    else{
                        str='/s?name=';
                        str += text;
                        window.location.href = str; //重定向搜索内容
                    }

                }
                document.onkeyup = function(e) { //键盘点击enter的时候模拟点击搜索按钮
                    if (e.keyCode == 13) {
                    btn.click();
                    }
                }
            </script>
{% endblock %}
